.features {
  &__img {
    width: 100%;
    max-width: 450px;
    height: auto;
  }

  &__img-credit {
    line-height: 0.8rem;
    font-size: 1rem;
  }

  &__feature {
    position: relative;
    align-self: center;
    justify-self: center;
    width: 70%;
  }

  &__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  p {
    padding-left: 4rem;
  }

  &__icon {
    // height: 3rem;
    width: 3rem;

    .fa-truck {
      color: $color-primary;
    }

    .fa-tools {
      color: $color-secondary;
    }

    .fa-user-shield {
      color: $color-tertiary;
    }
  }
}
